<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taarufindonesia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HalamanAwal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile_pribadi"></activity>
        <activity android:name=".main_menu"></activity>
        <activity android:name=".kriteria_calon"></activity>
        <activity android:name=".HalamanRegis2"></activity>
        <activity android:name=".HalamanRegis"></activity>
        <activity android:name=".HalamanLogin"></activity>
    </application>

</manifest>